/* Dashboard */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

p {
  margin: 0;
}

.dashboard {
  position: absolute;
  width: 486px;
  height: 188px;
  left: 187px;
  top: 179px;

  background: #ffffff;
  box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.group-723 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.group-1064 {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
}
.frame-278 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.referral-earning {
  width: 111px;
  height: 21px;
  position: absolute;
  top: 20px;
  left: 22.5px;
  bottom: 147px;
  right: 352.5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #800080;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

._-2500 {
  width: 116px;
  height: 48px;
  position: absolute;
  top: 41px;
  left: 20px;
  bottom: 99px;
  right: 350px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-279 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;
}
.total-referrals {
  width: 100px;
  height: 21px;
  position: absolute;
  top: 20px;
  left: 198px;
  bottom: 147px;
  right: 188px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #800080;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

._-7 {
  width: 18px;
  height: 48px;
  position: absolute;
  top: 41px;
  left: 198px;
  bottom: 99px;
  right: 270px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-280 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;
}
.wallet-balance {
  position: absolute;
  top: 20px;
  left: 361px;
  bottom: 147px;
  right: 20px;

  width: 105px;
  height: 21px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #800080;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

._-500 {
  width: 90px;
  height: 48px;
  position: absolute;
  top: 41px;
  left: 361px;
  bottom: 99px;
  right: 35px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.withdraw-balance-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  position: absolute;
  width: 180px;
  height: 40px;
  left: 153px;
  right: 153px;
  top: 119px;
  bottom: 29px;

  background: #800080;
  border-radius: 20px;
}
.withdraw-balance {
  width: 148px;
  height: 24px;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 16px;
  right: 16px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* ////////////////////////////////////////
/////////////////////////////////////// */

/* Mobile Screen */
@media only screen and (max-width: 428px) {
  .dashboard {
    position: absolute;
    width: 358px;
    height: 198px;
    left: 35px;
    right: 35px;
    top: 230px;

    background: #ffffff;
    box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .referral-earning {
    position: absolute;
    left: 22.5px;
    top: 20px;
    right: 224.5px;
    bottom: 157px;
    width: 111px;
    height: 21px;
    margin-top: 0px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #800080;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  ._-2500 {
    position: absolute;
    left: 20px;
    top: 41px;
    right: 222px;
    bottom: 109px;
    width: 116px;
    height: 48px;
    margin-top: 0px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .total-referrals {
    position: absolute;
    left: 238px;
    top: 20px;
    right: 20px;
    bottom: 157px;
    width: 100px;
    height: 21px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0px;
    /* identical to box height */

    color: #800080;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  ._-7 {
    position: absolute;
    left: 238px;
    top: 41px;
    right: 102px;
    bottom: 109px;
    width: 18px;
    height: 48px;
    margin-top: 0px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .wallet-balance {
    position: absolute;
    left: 20px;
    top: 110px;
    width: 105px;
    height: 21px;
    margin-top: 0px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #800080;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  ._-500 {
    position: absolute;
    left: 20px;
    top: 130px;
    right: 248px;
    bottom: 20px;
    width: 90px;
    height: 48px;
    margin-top: 0px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .withdraw-balance-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 10px;

    position: absolute;
    width: 180px;
    height: 40px;
    left: 158px;
    top: 133px;
    right: 20px;
    bottom: 25px;

    background: #800080;
    border-radius: 20px;
  }
  .withdraw-balance {
    width: 148px;
    height: 24px;
    position: absolute;
    left: 16px;
    right: 16px;
    top: 8px;
    bottom: 8px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #ffffff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .group-1064 {
    margin-top: 0px;
  }
}
