/* Header */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

p {
  margin: 0;
}

.header {
  width: 1366px;
  height: 73.03px;
  box-sizing: border-box;
  /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); */
}
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #ffffff;
}
.hero-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.logo {
  position: absolute;
  width: 160px;
  height: 63px;
  left: 74px;
  top: 6px;
  bottom: 4.03px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28px;
  height: fit-content;
  box-sizing: border-box;
}
.my-assignment {
  width: 140px;
  height: 22px;
  position: absolute;
  top: 25px;
  bottom: 26.03px;
  left: 766px;
  right: 460px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.5%;
  /* or 22px */

  text-align: center;

  color: rgba(128, 0, 128, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.chat-with-mentor {
  width: 156px;
  height: 22px;
  position: absolute;
  top: 25px;
  bottom: 26.03px;
  left: 934px;
  right: 276px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.5%;
  /* or 22px */

  text-align: center;

  color: rgba(128, 0, 128, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.profile-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 4px;
  height: 100%;
  box-sizing: border-box;
}
.account-circle {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 27px;
  bottom: 26.03px;
  left: 1120px;
  right: 226px;
}

.profilename {
  width: 111px;
  height: 22px;
  position: absolute;
  top: 27px;
  bottom: 24.03px;
  left: 1146px;
  right: 109px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.5%;
  /* or 22px */

  text-align: center;

  color: #800080;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.keyboard-arrow-down {
  height: 7.41px;
  width: 12px;
  /* left: 6px;
  top: 8.59px; */
  position: absolute;
  top: 33.59px;
  bottom: 33.59px;
  left: 1267px;
  right: 32.03px;
}
.keyboard-arrow-down-mobile {
  display: none;
}
.referEn {
  display: none;
}
/* Mobile screen styles */
@media only screen and (max-width: 428px) {
  .header {
    position: absolute;
    width: 428px;
    height: 200px;
    left: 0px;
    top: 0px;
    background: #ffffff;
  }
  .chat-with-mentor {
    display: none;
  }
  .account-circle {
    display: none;
  }
  .my-assignment {
    display: none;
  }

  .logo {
    position: absolute;
    left: 3px;
    top: 62px;
    right: 265px;
    bottom: 93px;
    width: 160px;
    height: 45px;
  }
  .referEn {
    display: block;
  }
  .referEn h1 {
    position: absolute;
    width: 138px;
    height: 21px;
    left: 35px;
    top: 158px;
    bottom: 21px;
    right: 255px;
    margin: 0px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #000000;
  }
  .profile-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 25px;
    gap: 10px;

    position: absolute;
    width: 165px;
    height: 48px;
    left: 228px;
    top: 59px;
    right: 35px;
    bottom: 93px;

    background: #800080;
    border-radius: 10px;
  }
  .profilename {
    width: 99px;
    height: 24px;
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 16px;
    right: 50px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #ffffff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .keyboard-arrow-down {
    display: none;
  }
  .keyboard-arrow-down-mobile {
    display: block;
    position: absolute;
    left: 131px;
    right: 20px;
    top: 20.59px;
    bottom: 20.59px;
    color: #ffffff;
  }
}
